html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(/img/fondo6.jpg);
    background-repeat: no-repeat;
     background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 100%;
  

}
.container{
    
  height: 30em;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 50em !important;
}
.nav-bar{
    display: grid;
    grid-template-rows:auto;
    align-items: center;
    justify-content: center;
    margin-top: em;
}
.board{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21em;
    height: 21em;
    display: grid;
    grid-template-columns: repeat(3, auto)  ;
  }
h1{
    color: #f5ebf4;
    font-weight: bold;
}
.card-body{
    height: 100%;
}
.card-player1{
    width: 10em;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.card-player2{
    width: 10em;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

 .box{
    width: 7em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/ficha.jpeg);
    border: 5px solid rgb(12, 5, 12, 1);
    color: aliceblue;
    font-weight: bolder;
   
}
.turn{
    background-image: url(../img/ficha.jpeg);
    height: 3em;
    border-radius: 0,5em;
    border: 1px solid black;
    padding-bottom: 1px;
    color: aliceblue;
    font-weight: bold;
} 
 .bg-warning{
  width: 5em;
  height: 2.5em;
  text-align: center;
  gap: 5px;
  background-image: url(/img/ficha.jpeg);
  color: aliceblue;
} 
.won{
  background-color: green;
}
/* @media only screen and (max-width: 767px) {
    .card {
      width: 90%;
    }
    .nav-bar header h1 {
      font-size: 24px;
    }
  } */